{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %}

<h1>Edit a user</h1>

<form>
  <p>First Name: <input name="first_name" value="{{ user.first_name }}"></p>
  <p>Last Name: <input name="last_name" value="{{ user.last_name }}"></p>
  <p>Image URL: <input name="img_url" value="{{ user.last_name }}"></p>
  <button formaction="/users/{{ user.id }}" formmethod="GET">Cancel</button>
  <button formaction="/users/{{ user.id }}/edit" formmethod="POST">Save</button>
</form>


{% endblock %}